$colors: (
  red: rgba(252, 129, 139, 0.5),
  purple: rgba(104, 124, 252, 0.5),
  yellow: rgba(252, 211, 78, 0.5),
  green: rgba(51, 212, 89, 0.5),
  blue: rgba(96, 156, 252, 0.5),
  greenyellow: rgba(210, 245, 107, 0.7),
);

@mixin generate-card-classes() {
  @each $colorName, $colorValue in $colors {
    &__rect__color-#{$colorName} {
      &::before {
        content: "";

        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateY(-50%);

        width: 40%;
        height: 40%;
        border-radius: 10px;
        background-color: $colorValue;

        transition: width 0.3s ease-in;
      }

      &:hover::before {
        width: 70%;
        transition: width 0.3s ease-in;
      }
    }

    &__line__color-#{$colorName} {
      .simple-card__text {
        border-bottom: 4px solid $colorValue;
      }

      &:hover {
        background-color: lighten($colorValue, 15);
        transition: background 0.2s ease-in;
      }
    }
  }
}

.simple-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(201, 197, 197, 0.21);

  @include generate-card-classes();

  &__text {
    z-index: 1;
  }

  &__icon {
    color: gray;
    margin-left: 0.9rem;
  }
}
